{% extends 'base.html' %}

{% block title %}Thanks For RSVPing To {{ event.title }}{% endblock %}

{% block banner %}
    <h1>Thanks For RSVPing</h1>
    
    <p>
        You've been placed on the 
        {{ guest.get_attending_status_display }}
        list</a>.
    </p>
{% endblock %}


          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}