{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "On The Day" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans " On the day " %}</h1>
    <p>
       

 	23rd September 2012  <br/> 
    <br/> 
	<b style="color: #30305F;font-weight:bold;">2.30pm</b>  <br/> 
    The ceremony will take place in the Council Chamber of Stoke Newington Town Hall, London. Please gather in the foyer at 2.45 and you will escorted to the Council chamber<br/>
    <br/>
    <b style="color: #30305F;font-weight:bold;">3.00pm</b> <br/>
    Ceremony begins<br/><br/>
    <b style="color: #30305F;font-weight:bold;">3.30pm</b> <br/>
    Confetti and photographs <br/><br/>
    <b style="color: #30305F;font-weight:bold;">3.50pm</b> <br/>
    Routemaster Bus Departs<br/>
    We will be arranging transportation from the Town Hall back to Fredericks.  Please be aware that there is no car parking at Stoke Newington Town Hall.
     <br/> <br/>
    <b style="color: #30305F;font-weight:bold;">4.30pm</b> <br/> 
    Dinner, drinks and dancing! <br/> <br/>
    <b style="color: #30305F;font-weight:bold;">12.00am</b> <br/> 
    The party ends...<br/> 
    
       
    </p>
    
    
    
    
{% endblock %}

          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}