{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Other" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans " What else do you need to know? " %}</h1>
    <p>
       <br/>
        
     <h3>Gift List</h3>
        Coming Soon....  
        <br/> <br/>
     <h3>Getting to London</h3>
       <b>Car Travel</b> <br/>
       If your travelling by car to London please pre-arrange carparking with your hotel.  You can't park on the street in Islington without a residents parking permit.<br/><br/>
       <b>Train Travel</b> <br/>
       Islington is only a very short bus, taxi or tube ride away from Euston and Kings Cross National rail terminals.   You can get the Nortern Line to Angel Islington which is two stops from Euston or one stop from Kings Cross.   Many bus routes run to Angel from these stations.  To find the best one or indeed to find any route across London use the <a href="http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2?language=en" >Transport for London journey planner</a>



          <br/> <br/>  
     <h3>Addresses</h3>
        Stoke Newington Town Hall, Stoke Newington Church Street , N16 0JR <a  href="http://g.co/maps/qsquf">(map)</a><br/> <br/>  
        Frederick's Restaurant, 106 Islington High Street  Islington, London N1 8EG  <a  href="http://g.co/maps/c5cz6">(map)</a><br/> <br/>  

        For a map of the key places on the day please click on the link below:<br/>
        
        <a  href="http://g.co/maps/s7uk5">Becky and Jon Wedding Map</a>
       
        <br/>  <br/>

     <h3>If you need to get in touch or just fancy a chat...</h3>
      
          <table>
          <tr>
              <td>Becky</td><td>07852 536162</td><td>rebekahvickers@gmail.com</td>
          </tr>
           <tr>
              <td>Jon</td><td>07545 765521</td><td>jonathan.heaton@gmail.com</td>
          </tr>
           <tr>
              <td>Alex Heaton (Best Man) </td><td>0777958 4560</td><td>alexanderheaton@gmail.com</td>
          </tr>
        
        </table>
        

       
        <br/>   

        

    </p>
    
    
    
    
{% endblock %}

          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}