{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Other" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans " What else do you need to know? " %}</h1>
    <p>
       <br/>
        
     <h3>Gift List</h3>
        We've been asked by a few of you for ideas on what to buy us as a wedding gift.
If you're able to join us on the day we'll already be very happy that you are coming to help us celebrate and we appreciate that a trip to London is expensive in itself.  Please don't feel obliged to buy us anything!  All we ask is that you help us dance the night away after a drink or two.
  <br/> <br/>
However, there's two options we've arranged to make things easier if you insist.
  <br/> <br/>
We're hoping to buy our first home together at the end of the year and although we have most of the basics there's lots of furniture we still don't own, such as a bed or chairs for the living room!  <br/> <br/> 
As we don't know the size and design of the home we'll buy it's tricky for us to pick specific items so we're opening a joint account that you might like to donate too.  We promise the money will be spent on furniture and we'll send some pics or better still invite you over for dinner so you can see what we buy.  
<br/><br/>
BANK A/C <br/>
HEATON&VICKE <br/>
Sort Code: 40-02-00  <br/>
Account Number: 45845203 <br/>
IBAN: GB21MIDL40020045845203 <br/>
Branch identifier code (BIC): MIDLGB2187Q


  <br/> <br/>
Alternatively, we've set up a gift list at John Lewis to select a few things that we're missing or we'll need to replace by the time we move.
You can buy gifts from the list by clicking <a href="https://www.johnlewisgiftlist.com/giftint/JSPs/GiftList/BuyGifts/GuestFindAList.jsp">here</a>, calling 0845 600 2202 or popping into your nearest John Lewis Store.
The gift list is under both of our names and is list number 514112.  Please note John Lewis will only accept Gift List orders from August 12th.
 
        <br/> <br/>
     <h3>Getting to London</h3>
       <b>By car</b> <br/>
       If you're travelling by car please pre-arrange carparking with your hotel.  You can't park on the street in Islington without a residents parking permit.<br/><br/>
       <b>By train</b> <br/>
       Islington is only a very short bus, taxi or tube ride away from Euston and Kings Cross National Rail terminals.   The closest tube stop to Fredericks is Angel station. Many bus routes also run in this area. To find the best route for your journey use the <a href="http://journeyplanner.tfl.gov.uk/user/XSLT_TRIP_REQUEST2?language=en" >TFL journey planner</a>



          <br/> <br/>  
     <h3>Addresses</h3>
        Stoke Newington Town Hall, Stoke Newington Church Street, N16 0JR <a  href="http://g.co/maps/qsquf">(map)</a><br/> <br/>  
        Frederick's Restaurant, 106 Islington High Street, N1 8EG  <a  href="http://g.co/maps/c5cz6">(map)</a><br/> <br/>  

        For an overview of the day please click on the link below:<br/>
        
        <a  href="http://g.co/maps/s7uk5">Becky and Jon Wedding Map</a>
       
        <br/>  <br/>

     <h3>Any questions?</h3>
      
          <table>
          <tr>
              <td>Becky</td><td>rebekahvickers@gmail.com</td>
          </tr>
           <tr>
              <td>Jon</td><td>jonathan.heaton@gmail.com</td>
          </tr>
           <tr>
              <td>Alex Heaton (Best Man) </td><td>alexanderheaton@gmail.com</td>
          </tr>
        
        </table>
        

       
        <br/>   

        

    </p>
    
    
    
    
{% endblock %}

          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}