{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endblock %}
{% endblock %}

 {% block nav %}
<h3>
<a href="/rsvp/event/becky-jon-london-2012/">RSVP</a>
</h3>
<h3>
<a href="/ontheday/">On the day</a>
</h3>
<h3>
<a href="/wheretostay/">Where to stay</a>
</h3>
<!--<h3>
<a href="/thingstodo/">Things to do</a>
</h3>-->
<h3>
<a href="/other/">Other information</a>
</h3>
 {% endblock %}

{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}