{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans " Things to do in London. " %}</h1>
    <p>
       <br/>
          <a href="http://www.guardian.co.uk/travel/2012/jul/23/50-free-things-to-do-london?intcmp=239">Guardian - 50 Free things to do in central London</a><br/>
          If you dig around there's also guides for other parts of London. Islington is north London. 
          <br/><br/>
          <a href="http://www.guardian.co.uk/travel/series/london-city-guide">Guardian - London City Guide</a>
          <br/>
          In the link above ignore the map (it's not very clear) just scroll down to the other articles.
          <br/><br/>

    </p>
    
    
    
    
{% endblock %}

          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}