{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Where to stay" %}</h1>
    <h1>{% trans " " %}</h1>
    <p>
       	<br/>
There's lots of places to stay within London and even within the Islington area.  The places we have suggested are our favourites and are within walking distance or a short cab journey from the venue.
<br/><br/>
The first is the Premier Inn which is probably the most affordable option.  It's around +£90 a night and is literally less than a five minute walk over the road.  The rooms are small and simple but for a night's sleep after a few drinks what more do you need?<br/>
<a href="http://www.premierinn.com/en/hotel/LONISL/london-angel-islington">Premier Inn Website</a>
<br/><br/>
The second option is the Jury's Inn.  It is also very close being a 7 minute walk away.  It's a simple hotel with nicer rooms than the Premier Inn and if you book soon the rate is almost the same at +£95.<br/>
<a href="http://londonhotels.jurysinns.com/jurysinn_islington">Jury's Inn Website</a>
<br/><br/>
We'll be staying at the Zetter Townhouse the night of the wedding.  It's the Boutique sister of The Zetter Hotel, which is another option, both located on St John's Square.  Both hotels are the boutique option on the list and are good for those looking for a treat or those who are more comfortable with exploring London - it's a 5 minute/£8-10 taxi ride away.  It has a great cocktail bar for those that are interested!  If you book here please quote you are part of the Heaton-Vickers wedding party and the room should have a 30% discount to £130 for a guest room, Sunday only.
<br/>
<a href="http://www.thezettertownhouse.com/">The Zetter Townhouse Website</a><br/>
<a href="http://www.thezetter.com/">The Zetter Hotel Website</a>

    </p>
    
    
    
    
{% endblock %}

          {% block column-1 %}
               <!-- <h2>On the day</h2>
                <p>All the small details including a programme for the day, timings and addresses.</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

          {% block column-2 %}
              <!--  <h2>Where to stay</h2>
                <p>Hotels, Apartments, Card board boxes...</p>
                <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            -->
          {% endblock %}

           {% block column-3 %}
                
          {% endblock %}
           {% block column-4 %}
                
          {% endblock %}