html {
	   background: url(/site_media/static/images/invite7-1small.png)
        no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html body {
	background-color: transparent;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.hero-unit {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    opacity: 0.8;
    padding: 60px;
    font-size: 20px;
}

.hero-unit h1 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

ul {
    list-style: none outside none;
}

ul li {
	float: left;
}

#id_attending_0 {
	width: 20px;
}

.topbar-inner, .topbar .fill {
    background-color: #30305F;
    background-image: none;
}

input[type="submit"] {
    background-color: #D8632B;
    height: 50px;
    width: 200px;
    color: #FFF;
}

input[type="submit"]:hover {
    background-color: #30305F;
   
}

ul.errorlist li {
    color: red;
}

label {
    width: 200px;
}

li label {
    margin: 0 10px;
    width: auto;
}

.hero-unit h3 {
    font-size: 23px;
}

